:root {
        --width: 1;
        --length: 1;
    }

body {/*https://i.pinimg.com/736x/4a/79/4a/4a794a1d167cc9373a6d1bd2ba7d5f81.jpg   --> béka*/
    background-color: #eaddcf;
    background:  url("https://i.pinimg.com/736x/4a/79/4a/4a794a1d167cc9373a6d1bd2ba7d5f81.jpg");
      display: flex;
      justify-content: space-around;
      align-items: baseline-start;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }
    
    .about-container {
      background-color: #eaddcf;
      width: 35vw;
      margin: auto ;
      padding: 2rem;
      border-radius: 10px;
    }
    
    .container {
      height: 100%;
      /*width: calc(var(--width) * 60px);*/
      margin: auto;
    }
    
    .garden-bed {
      border: solid 5px #55423d;
      display: grid;
      grid-template-rows: repeat(var(--length), 0fr);
      grid-template-columns: repeat(var(--width), 0fr); /*ha ez mínuszban van egymás alá megy minden sor (miért??? idk)*/
    }
    
    .garden-item {
        border: 1px solid #55423d;
        font-size: .8em;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 10px;
        padding: 10px;
        background-color: #8c7851;
    }

    #link {
      display: none;
    }

    #link:target {
      display: block;
    }

    #gombs {
      padding-top: 5px;
      padding-bottom: 10px;
    }

    #gomb {
      text-decoration: none;
      background: rgb(194, 239, 137);
      color: black;
      font-size: 13px;
      padding-bottom: 1px;
      padding-left: 2px;
      padding-right: 2px;
      border: 1px solid black;
      box-shadow: #55423d 1px 1px 1px 1px;
      font-weight: 600;
    }

    #vissza {
      text-decoration: none;
      background: rgb(230, 103, 133);
      color: black;
      font-size: 13px;
      padding-bottom: 1px;
      padding-left: 2px;
      padding-right: 2px;
      border: 1px solid black;
      box-shadow: #55423d 1px 1px 1px 1px;
      font-weight: 600;
    }

#gen {
  background-color: rgb(49, 199, 74);
  font-size: 13px;
  border-style: none;
  border: 1px solid black;
  box-shadow: #55423d 1px 1px 1px 1px;
  font-weight: 600;
} 

#add-plant {
  background-color: rgb(234, 192, 170);
  font-size: 13px;
  border-style: none;
  border: 1px solid black;
  box-shadow: #55423d 1px 1px 1px 1px;
  font-weight: 600;
}

#torol {
  background-color: rgb(252, 86, 86);
  font-size: 13px;
  border-style: none;
  border: 1px solid black;
  box-shadow: #55423d 1px 1px 1px 1px;
  font-weight: 600;
}

#elkuld {
  background-color: rgb(91, 170, 74);
  font-size: 13px;
  border-style: none;
  border: 1px solid black;
  box-shadow: #55423d 1px 1px 1px 1px;
  font-weight: 600;
}

#deletegomb {
  background-color: rgb(252, 86, 86);
  font-size: 13px;
  border-style: none;
  border: 1px solid black;
  box-shadow: #55423d 1px 1px 1px 1px;
  font-weight: 600;
  margin-left: 5px;
}